html {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 15px auto;
    max-width: 800px;
    line-height: 1.6;
    font-size: 16px;
    padding: 0 10px;
    /* Use system fonts */
    font-family: system-ui, sans-serif;
    color: #222;
    padding-bottom: 120px;
}

.typst-display {
    border-radius: 0px;
    overflow-x: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

figure .typst-display {
    margin-left: 0px;
    margin-right: 0px;
    width: 100% !important;
}

.typst-doc {
    border-radius: 0px;
}

iframe {
    border-radius: 15px;
}

pre,
blockquote {
    border-radius: 20px;
    background-color: #fafafa;
}

p {
    margin: 0px;
}

.pubinfo {
    margin: 0.7em;
}

p+p {
    margin-top: 10px;
}

.typst-inline {
    margin-top: -10px;
}

ul,
ol {
    margin: 0.5em;
    padding-left: 1em;
}

li p {
    margin: 0;
}

pre code {
    display: block;
    padding: 1em;
    overflow-x: auto;
}

a:hover {
    text-decoration-skip-ink: none;
    text-decoration-thickness: 2px;
}

img {
    fill: currentColor !important;
}

nav {
    font-size: 25px;
    text-align: center;
    line-height: 1.2;
}

nav a {
    display: inline-block;
    margin: 0 12px;
    text-decoration: none;
}

table {
    text-align: center;
    border-spacing: 15px 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    background-color: #fafafa;
    border-radius: 15px;
}

figure {
    overflow-x: auto;
}

th {
    text-align: center !important;
}

h1 {
    text-align: center;
}

h1,
h2,
h3 {
    line-height: 1.2;
    margin-bottom: 0.6em;
    break-after: avoid;
}

h2,
h3 {
    margin-top: 1.2em;
    margin-bottom: 0.2em;
}

img {
    width: 100%;
    border-radius: 10px;
}

footer {
    text-align: center;
    font-size: 12px;
}

blockquote {
    padding: 0.7em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;

    footer {
        text-align: left;
        margin-left: 20px;
        font-size: 12px;
    }
}

figure {
    text-align: center;
}

figcaption {
    text-align: center;
}

.pubinfo {
    font-style: italic;
    text-align: center;
}

main>p:last-child:after {
    content: " \2766";
    display: inline;
    font-size: 1.4em;
    line-height: 0.5;
}

/* Raise text size on small screens */
@media only screen and (min-device-width: 300px) and (max-device-width: 1150px) {
    nav {
        font-size: 22px;

        a {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    pre {
        font-size: 14px;
    }
}

/* Standard responsive breakpoint using viewport width */
@media (max-width: 600px) {
    body {
        font-size: 18px;
        max-width: 100%;
        margin: 10px;
        padding: 0 12px;
        padding-bottom: 80px;
    }

    nav {
        font-size: 18px;
        padding: 6px 0;
    }

    nav a {
        margin: 0 8px;
        display: inline-block;
    }

    pre {
        font-size: 15px;
    }

    h1,
    h2,
    h3 {
        line-height: 1.15;
    }
}

/* Change color in night mode */
@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background-color: #222;
    }

    .typst-doc {
        filter: invert(100%) hue-rotate(180deg);
    }

    a:link {
        color: lightskyblue;
    }

    a:visited {
        color: violet;
    }

    .night-invert {
        filter: invert(88%) hue-rotate(180deg);
    }

    table,
    blockquote {
        background-color: #0f1419;
    }
}

@media print {
    header {
        column-count: 1;
    }

    main {
        column-count: 2;
        text-align: justify;
        height: 100%;
        column-fill: auto;
    }

    body {
        font-family:
            Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L",
            "Georgia Pro", Georgia, serif;
    }

    pre code {
        text-overflow: wrap;
        white-space: pre-wrap;
        font-size: 8pt;
    }

    body {
        font-size: 10pt;
        line-height: 1.3;
        margin: auto;
        text-wrap: pretty;
        word-break: normal;
        text-justify: auto;
        padding-bottom: 0px;
    }

    ul,
    ol {
        padding-left: 0.2em;
    }

    nav {
        visibility: hidden;
        height: 0px;
    }

    main>p:first-child::first-letter {
        float: left;
        font-size: 280%;
        /* font-weight: bold; */
        text-transform: capitalize;
        padding-right: 0.1ex;
        padding-top: 0.25ex;
    }

    /* workaround for break-after: avoid not supported */
    h1,
    h2,
    h3 {
        break-inside: avoid;
    }

    h1::after,
    h2::after,
    h3::after {
        content: "";
        display: block;
        height: 50px;
        margin-bottom: -50px;
    }
}