<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="author" content="Brian Rice" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title2 %} {% endblock %}</title>
    <link rel="canonical" href="{{ current_url | safe }}" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
    {% block headers %} {% endblock %}
    <link rel="icon" href="/favicon.ico" />
</head>

<body>
    <nav>
        <a href="/">Home</a><a href="/about">About</a><a href="/blog">Blog</a><a href="/recipes">Recipes</a><a
            href="/resources">Resources</a>
    </nav>
    <h1>{% block title %} {% endblock %}</h1>
    {% block posttitle %} {% endblock %}
    </header>

    {% if page.toc %}
    &nbsp;
    <details>
    <summary>Table of Contents</summary>
    <ul>
    {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    </details>
    &nbsp;
    {% endif %}

    <main>{% block content %} {% endblock %}</main>
</body>

</html>
